Package: com.ginsu.routeconfiguratorcc
Name: RouteConfiguratorCC
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: Ginsu
Author: Ginsu
Section: Control Center (Modules)
